.bg {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgb(188, 234, 255) 0%, 
        rgb(192, 203, 255) 25%, 
        rgb(227, 212, 193) 51%, 
        rgb(231, 231, 208) 100%
  );  
  animation: AnimateBG 10s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}