.container{
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

hr{
  color: red;
}

.halfTxt{
  color: rgb(0, 0, 0);
  width: 45vw;
  font-size: 18px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: lighter;
  text-align: center;
}

/* .descriptionTxt{ */
  /* font-style: italic; */
/* } */

.halfImg{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
}

 .img{
  width: 650px;
  height: auto;
  border-radius: 25px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0,0.3);
}
.img:hover{
  width: 655px;
  height: auto;
  border-radius: 25px;
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5);
  transition: ease 03ms;
} 

.titleR{
  /* text-decoration: 1px underline black; */
  font-size: 2rem;
  color: var(--dark-color);
  text-align: center;
}

.titleL{
  /* text-decoration: 1px underline black; */
  font-size: 2rem;
  color: var(--dark-color);
  text-align: center;
}

.nodeco{
  text-decoration: none;
}


/* .CheckIt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
  font-variant: small-caps;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img:hover .CheckIt {
  visibility: visible;
  opacity: 1;
} */